{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-with-summary-sections",
  items: [
    {
      heading: {
        text: "16 to 19 EFA"
      },
      summary: {
        html: '
        <span> Available for new starts and continuing learners
            
             <br>  <span> Approved qualification for 2019 to 2020</span>
             
        </span>
        
        '
      },
      content: {
        html:
        '<p> <strong>Course Validity:</strong> </p>
        <p> <strong> From:</strong> 01 September 2015 <strong>to</strong> 31 August 2021</p>
        <p><strong>Last date for new start:</strong> 31 August 2020</p>
        '
      }
    },
        {
      heading: {
        text: "Adult Skills"
      },
      summary: {
        html: '
        <span> Available for new starts and continuing learners
            
             <br>  <span> Approved qualification for 2019 to 2020</span>
             
        </span>
        
        '
      },
      content: {
        html:
        '<p> <strong>Course Validity:</strong> </p>
        <p> <strong> From:</strong> 01 September 2015 <strong>to</strong> 31 August 2021</p>
        <p><strong>Last date for new start:</strong> 31 August 2020</p>
        <ul class="govuk-list">
            <li>
              <strong>  Category:</strong> Adult skills
            </li>
            <li>
              <strong>Effective from:</strong> 01 August 2013 
            </li>
            <li>
              <strong>Effective to:</strong> 31 December 2021
            </li>
            <li>
               <strong> Programme weighting:</strong> C
            </li>
            <li>
              <strong>Weighted rate:</strong> £2267
            </li>
            <li>
              <strong>Unweighted rate:</strong> £1744
            </li>
          </ul>
        '
      }
    },
            {
      heading: {
        text: "Advanced Learner Loan"
      },
      summary: {
        html: '
        <span> Available for new starts and continuing learners
            
             <br>  <span> Approved qualification for 2019 to 2020</span>
             
        </span>
        
        '
      },
      content: {
        html:
        '<p> <strong>Course Validity:</strong> </p>
        <p> <strong> From:</strong> 01 September 2015 <strong>to</strong> 31 August 2021</p>
        <p><strong>Last date for new start:</strong> 31 August 2020</p>
        <ul class="govuk-list">
            <li>
              <strong>  Category:</strong> Advanced learner loans
            </li>
            <li>
              <strong>Effective from:</strong> 01 August 2013 
            </li>
            <li>
              <strong>Effective to:</strong> 31 December 2021
            </li>
            <li>
               <strong> Programme weighting:</strong> C
            </li>
            <li>
              <strong>Weighted rate:</strong> £2267
            </li>
            <li>
              <strong>Unweighted rate:</strong> £1744
            </li>
          </ul>'
      }
    },
                {
      heading: {
        text: "Other"
      },
      summary: {
        html: '
        <span> Available for new starts and continuing learners
            
             <br>  <span> Approved qualification for 2019 to 2020</span>
             
        </span>
        
        '
      },
      content: {
        html:
        '<p> <strong>Course Validity:</strong> </p>
        <p> <strong> From:</strong> 01 September 2015 <strong>to</strong> 31 August 2021</p>
        <p><strong>Last date for new start:</strong> 31 August 2020</p>
        '
      }
    },
                {
      heading: {
        text: "Apprenticeships"
      },
      summary: {
        html: '
        <span> Available for new starts and continuing learners
            
             <br>  <span> Approved qualification for 2019 to 2020</span>
             
        </span>
        
        '
      },
      content: {
        html:
        '<p> <strong>Course Validity:</strong> </p>
        <p> <strong> From:</strong> 23 June 2011 <strong>to</strong> 31 December 2021</p>
        <p><strong>Last date for new start:</strong> 31 August 2020</p>
        <ul class="govuk-list">
            <li>
              <strong>  Category:</strong> Apprenticeship (Activity Costs)
            </li>
            <li>
              <strong>Effective from:</strong> 01 August 2013 
            </li>
            <li>
              <strong>Effective to:</strong> 31 December 2021
            </li>
            <li>
               <strong> Programme weighting:</strong> C
            </li>
            <li>
              <strong>Weighted rate:</strong> £2267
            </li>
            <li>
              <strong>Unweighted rate:</strong> £1744
            </li>
          </ul>
        '
      }
    },
                {
      heading: {
        text: "Community Learning"
      },
      summary: {
        html: '
        <span> Available for new starts and continuing learners
            
             <br>  <span> Approved qualification for 2019 to 2020</span>
             
        </span>
        
        '
      },
      content: {
        html:
        '<p> <strong>Course Validity:</strong> </p>
        <p> <strong> From:</strong> 01 September 2015 <strong>to</strong> 31 August 2021</p>
        <p><strong>Last date for new start:</strong> 31 December 2020</p>'
      }
    },
                {
      heading: {
        text: "European Social Fund"
      },
      summary: {
        html: '
        <span> Available for new starts and continuing learners
            
             <br>  <span> Approved qualification for 2019 to 2020</span>
             
        </span>
        
        '
      },
      content: {
        html:
        '<p> <strong>Course Validity:</strong> </p>
        <p> <strong> From:</strong> 01 September 2015 <strong>to</strong> 31 August 2021</p>
        <p><strong>Last date for new start:</strong> 31 July 2020</p>
        <ul class="govuk-list">
            <li>
              <strong>  Category:</strong> European social fund
            </li>
            <li>
              <strong>Effective from:</strong> 01 August 2013 
            </li>
            <li>
              <strong>Effective to:</strong> 31 December 2021
            </li>
            <li>
               <strong> Programme weighting:</strong> C
            </li>
            <li>
              <strong>Weighted rate:</strong> £2267
            </li>
            <li>
              <strong>Unweighted rate:</strong> £1744
            </li>
          </ul>
        '
      }
    },
                {
      heading: {
        text: "OLASS"
      },
      summary: {
        html: '
        <span> Available for new starts and continuing learners
            
             <br>  <span> Approved qualification for 2019 to 2020</span>
             
        </span>
        
        '
      },
      content: {
        html:
        '<p> <strong>Course Validity:</strong> </p>
        <p> <strong> From:</strong> 01 September 2015 <strong>to</strong> 31 August 2021</p>
        <p><strong>Last date for new start:</strong> 31 July 2020</p>
        <ul class="govuk-list">
            <li>
              <strong>  Category:</strong> OLASS
            </li>
            <li>
              <strong>Effective from:</strong> 01 August 2013 
            </li>
            <li>
              <strong>Effective to:</strong> 31 December 2021
            </li>
            <li>
               <strong> Programme weighting:</strong> C
            </li>
            <li>
              <strong>Weighted rate:</strong> £2267
            </li>
            <li>
              <strong>Unweighted rate:</strong> £1744
            </li>
          </ul>
        '
      }
    },
                {
      heading: {
        text: "Unemployed offer"
      },
      summary: {
        html: '
        <span> Available for new starts and continuing learners
            
             <br>  <span> Approved qualification for 2019 to 2020</span>
             
        </span>
        
        '
      },
      content: {
        html:
        '<p> <strong>Course Validity:</strong> </p>
        <p> <strong> From:</strong> 01 September 2015 <strong>to</strong> 31 August 2021</p>
        <p><strong>Last date for new start:</strong> 31 July 2017</p>
        <ul class="govuk-list">
            <li>
              <strong>  Category:</strong> Unemployed offer
            </li>
            <li>
              <strong>Effective from:</strong> 01 August 2013 
            </li>
            <li>
              <strong>Effective to:</strong> 31 December 2021
            </li>
            <li>
               <strong> Programme weighting:</strong> C
            </li>
            <li>
              <strong>Weighted rate:</strong> £2267
            </li>
            <li>
              <strong>Unweighted rate:</strong> £1744
            </li>
          </ul>
        '
      }
    }
  ]
}) }}

