
{% extends "layout-back.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl">GCE A Level in Psychology
            <span class="govuk-caption-xl">6014838X</span>
          </h1>
          
          
          <!-- <table class="govuk-table">
              <caption class="govuk-table__caption govuk-!-font-size-27">Funding rates</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Category</th>
                  <th scope="col" class="govuk-table__header">Effective from</th>
                  <th scope="col" class="govuk-table__header">Effective to</th>
                  <th scope="col" class="govuk-table__header">Programme weighting</th>
                  <th scope="col" class="govuk-table__header">Values Desc.</th>
                  <th scope="col" class="govuk-table__header">Maximum value</th>
                  
                  
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Matrix</th>
                  <td class="govuk-table__cell">01 September 2015</td>
                  <td class="govuk-table__cell">31 July 2023</td>
                  <td class="govuk-table__cell">B</td>
                  <td class="govuk-table__cell">Weighted rate</td>
                  <td class="govuk-table__cell">£2225</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Matrix</th>
                    <td class="govuk-table__cell">01 September 2015</td>
                    <td class="govuk-table__cell">31 July 2023</td>
                    <td class="govuk-table__cell">B</td>
                    <td class="govuk-table__cell">Unweighted rate</td>
                    <td class="govuk-table__cell">£1987</td>
                </tr>
                
                
              </tbody>
            </table> -->

            <ul class="govuk-list">
                <li>
                  <strong>  Category:</strong> Matrix
                </li>
                <li>
                  <strong>Effective from:</strong> 01 September 2015 
                </li>
                <li>
                  <strong>Effective to:</strong> 31 July 2023
                </li>
                <li>
                   <strong> Programme weighting:</strong> B
                </li>
                <li>
                  <strong>Weighted rate:</strong> £2225
                </li>
                <li>
                  <strong>Unweighted rate:</strong> £1987
                </li>
              </ul>
          
        </div>
  
        <div class="govuk-grid-column-one-third">
  
          
  
        </div>
      </div>
    
{% endblock %}
