<span class="govuk-heading-s govuk-!-margin-bottom-0">Filter results</span>
<div id="allFilters-2">
  <section id="awardingBody" class="filter-section">
      <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 filter-box-button">
        Awarding body
      </a>
      <span class="selected-text govuk-body govuk-!-font-size-16"> <span class="counter">1</span> selected</span>
      <div class="filter-box hidden">
          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

          {{ govukCheckboxes({
            idPrefix: "awarding body",
            name: "awarding body",
            classes: "govuk-checkboxes--small",
            
            items: [
              {
                value: "iCQ",
                text: "iCan Qualifications Limited"
              },
              {
                value: "QA",
                text: "Qualsafe Awards"
              },
              {
                value: "BIIAB",
                text: "BIIAB"
              },
              {
                value: "AQA",
                text: "AQA"
              },
              {
                value: "CG",
                text: "CG - City & Guilds of London Institute"
              },
              {
                value: "Edexcel",
                text: "Edexcel"
              },
              {
                value: "UWLQ",
                text: "University of West London"
              },
              {
                value: "UAL",
                text: "University of the Arts London"
              },
              {
                value: "OCR",
                text: "Oxford, Cambridge and RSA Examinations"
              },
              {
                value: "NCC Education",
                text: "NCC Education"
              }
            ]
          }) }}
      </div>
  </section>

  <section id="level" class="filter-section">
      <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 filter-box-button">
      Level
      </a>
      <span class="selected-text govuk-body govuk-!-font-size-16"> <span class="counter">1</span> selected</span>
      <div class="filter-box hidden">
          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

          {{ govukCheckboxes({
            idPrefix: "level",
            name: "level",
            classes: "govuk-checkboxes--small",
            
            items: [
              {
                value: "level-1",
                text: "Level 1"
              },
              {
                value: "level-1-2",
                text: "Level 1/2"
              },
              {
                value: "level-2",
                text: "Level 2"
              },
              {
                value: "level-3",
                text: "Level 3"
              },
              {
                value: "level-4",
                text: "Level 4"
              },
              {
                value: "level-5",
                text: "Level 5"
              },
              {
                value: "level-6",
                text: "Level 6"
              },
              {
                value: "level-7",
                text: "Level 7"
              },
              {
                value: "level-8",
                text: "Level 8"
              },
              {
                value: "entry-level",
                text: "Entry level"
              },
              {
                value: "higher-level",
                text: "Higher level"
              },
              {
                value: "mixed-level",
                text: "Mixed level"
              },
              {
                value: "not-known",
                text: "Not known"
              }
            ]
          }) }}
      </div>
  </section>

  <section id="teachingYear" class="filter-section">
      <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 filter-box-button">
        Teaching year
      </a>
      <span class="selected-text govuk-body govuk-!-font-size-16"> <span class="counter">1</span> selected</span>
      <div class="filter-box hidden">
          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

          {{ govukCheckboxes({
            idPrefix: "teaching year",
            name: "teaching year",
            classes: "govuk-checkboxes--small",
            
            items: [
              
              {
                value: "2019-2020",
                text: "2019 to 2020"
              },
              {
                value: "2018-2019",
                text: "2018 to 2019"
              },
              {
                value: "2017-2018",
                text: "2017 to 2018"
              },
              {
                value: "2016-2017",
                text: "2016 to 2017"
              }
            ]
          }) }}
      </div>
  </section>

  <section id="fundingStream" class="filter-section">
      <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 filter-box-button">
        Funding stream
      </a>
      <span class="selected-text govuk-body govuk-!-font-size-16"> <span class="counter">1</span> selected</span>
      <div class="filter-box hidden">
          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

          {{ govukCheckboxes({
            idPrefix: "funding stream",
            name: "funding stream",
            classes: "govuk-checkboxes--small",
            
            items: [
              {
                value: "16-19",
                text: "16 to 19 EFA"
              },
              {
                value: "adult-skills",
                text: "Adult skills"
              },
              {
                value: "all",
                text: "Advanced learner loans"
              },
              {
                value: "other",
                text: "Other"
              },
              {
                value: "apprenticeships",
                text: "Apprenticeships"
              },
              {
                value: "community-learning",
                text: "Community learning"
              },
              {
                value: "efa-f-c-english",
                text: "EFA Funding condition - English qualification validity"
              },
              {
                value: "efa-f-c-maths",
                text: "EFA Funding condition - Maths qualification validity"
              },
              {
                value: "esf",
                text: "European social fund"
              },
              {
                value: "olass",
                text: "OLASS"
              },
              {
                value: "unemployed-offer",
                text: "Unemployed offer"
              }
            ]
          }) }}
      </div>
  </section>

  <section id="newStarters" class="filter-section">
      <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 filter-box-button">
        Last date for new starters
      </a>
      <span class="selected-text govuk-body govuk-!-font-size-16"> <span class="counter">1</span> selected</span>
      <div class="filter-box hidden">
          <div class="govuk-date-input govuk-!-margin-top-3 govuk-!-margin-left-3">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*">
                </div>
              </div>
            </div>
      </div>
  </section>
</div>
<a href="#" id="updateResults" class="govuk-!-margin-top-4 govuk-button govuk-button--secondary">Update results</a>