
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="start-search.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="all-results-engineering.html">Search results</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="qualification-app.html">Certificate in Engineering</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Frameworks</li>
  </ol>
</div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl">Certificate in Engineering
            <span class="govuk-caption-xl">60008805</span>
          </h1>
          
          <h2 class="govuk-heading-m">Frameworks</h2>
          
          
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state" href="pathways">Improving Operational Performance - Intermediate Apprenticeship (Level 2)</a>
            </li>
            <li>
               <strong>Code:</strong> 504  
              </li>
            <li>
              <strong>Type:</strong> 3 - Intermediate Apprenticeship (Level 2)
            </li>
            <li>
              <strong>Pathway:</strong> 0 -  <br>
              <strong>Effective from:</strong> 26 June 2011 to: 06 March 2013
            </li>
            <li>
                <strong>Component type:</strong> 2 - Knowledge Element within an Apprenticeship
            </li>
            <li>
                <strong>Issuing authority:</strong> 126 - Semta
            </li>
          </ul>

          <hr>

          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state" href="pathways">Improving Operational Performance - Intermediate Apprenticeship (Level 2)</a>
            </li>
            <li>
                <strong>Code:</strong> 504  
              </li>
            <li>
              <strong>Type:</strong> 3 - Intermediate Apprenticeship (Level 2)
            </li>
            <li>
              <strong>Pathway:</strong> 1 - Performing Engineering Operations  <br>
              <strong>Effective from:</strong> 01 February 2013 to: 31 July 2020
            </li>
            <li>
                <strong>Component type:</strong> 2 - Knowledge Element within an Apprenticeship
            </li>
            <li>
                <strong>Issuing authority:</strong> 126 - Semta
            </li>
          </ul>

          <hr>

          <ul class="govuk-list">
              <li>
                <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state" href="pathways">Improving Operational Performance - Intermediate Apprenticeship (Level 2)</a>
              </li>
              <li>
                  <strong>Code:</strong> 504  
                </li>
              <li>
                <strong>Type:</strong> 3 - Intermediate Apprenticeship (Level 2)
              </li>
              <li>
                <strong>Pathway:</strong> 2 - Performing Engineering Operations  <br>
                <strong>Effective from:</strong> 01 February 2013 to: 31 July 2020
              </li>
              <li>
                  <strong>Component type:</strong> 2 - Knowledge Element within an Apprenticeship
              </li>
              <li>
                  <strong>Issuing authority:</strong> 126 - Semta
              </li>
            </ul>

          
        </div>
  
        <div class="govuk-grid-column-one-third">
  
          
  
        </div>
      </div>
    
{% endblock %}
