{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-with-summary-sections",
  items: [
    {
      heading: {
        text: "16 to 19 EFA"
      },
      summary: {
        text: "Available for new starts and continuing learners"
      },
      content: {
        html:
        '<p> <strong>Course Validity:</strong> </p>
        <p> <strong> From:</strong> 01 September 2015 <strong>to</strong> 31 August 2021</p>
        <p><strong>Last date for new start:</strong> 31 August 2020</p>
        '
      }
    },
        {
      heading: {
        text: "Adult Skills"
      },
      summary: {
        text: "Available for new starts and continuing learners"
      },
      content: {
        html:
        '<p> <strong>Course Validity:</strong> </p>
        <p> <strong> From:</strong> 01 September 2015 <strong>to</strong> 31 August 2021</p>
        <p><strong>Last date for new start:</strong> 31 August 2020</p>
        <p><a class="govuk-link govuk-link--no-visited-state" href="funding-rates-app">View funding rates</a></p>
        '
      }
    },
            {
      heading: {
        text: "Advanced Learner Loan"
      },
      summary: {
        text: "Available for new starts and continuing learners"
      },
      content: {
        html:
        '<p> <strong>Course Validity:</strong> </p>
        <p> <strong> From:</strong> 01 September 2015 <strong>to</strong> 31 August 2021</p>
        <p><strong>Last date for new start:</strong> 31 August 2020</p>
        <p><a class="govuk-link govuk-link--no-visited-state" href="funding-rates-app">View funding rates</a></p>'
      }
    },
                {
      heading: {
        text: "Other"
      },
      summary: {
        text: "Available for new starts and continuing learners"
      },
      content: {
        html:
        '<p> <strong>Course Validity:</strong> </p>
        <p> <strong> From:</strong> 01 September 2015 <strong>to</strong> 31 August 2021</p>
        <p><strong>Last date for new start:</strong> 31 August 2020</p>
        '
      }
    },
                {
      heading: {
        text: "Apprenticeships"
      },
      summary: {
        text: "Available for new starts and continuing learners"
      },
      content: {
        html:
        '<p> <strong>Course Validity:</strong> </p>
        <p> <strong> From:</strong> 23 June 2011 <strong>to</strong> 31 December 2021</p>
        <p><strong>Last date for new start:</strong> 31 August 2020</p>
        <p><a class="govuk-link govuk-link--no-visited-state" href="funding-rates-app">View funding rates</a></p>
        '
      }
    },
                {
      heading: {
        text: "Community Learning"
      },
      summary: {
        text: "Available for new starts and continuing learners"
      },
      content: {
        html:
        '<p> <strong>Course Validity:</strong> </p>
        <p> <strong> From:</strong> 01 September 2015 <strong>to</strong> 31 August 2021</p>
        <p><strong>Last date for new start:</strong> 31 December 2020</p>'
      }
    },
                {
      heading: {
        text: "European Social Fund"
      },
      summary: {
        text: "Available for new starts and continuing learners"
      },
      content: {
        html:
        '<p> <strong>Course Validity:</strong> </p>
        <p> <strong> From:</strong> 01 September 2015 <strong>to</strong> 31 August 2021</p>
        <p><strong>Last date for new start:</strong> 31 July 2020</p>
        <p><a class="govuk-link govuk-link--no-visited-state" href="funding-rates-app">View funding rates</a></p>
        '
      }
    },
                {
      heading: {
        text: "OLASS"
      },
      summary: {
        text: "Available for new starts and continuing learners"
      },
      content: {
        html:
        '<p> <strong>Course Validity:</strong> </p>
        <p> <strong> From:</strong> 01 September 2015 <strong>to</strong> 31 August 2021</p>
        <p><strong>Last date for new start:</strong> 31 July 2020</p>
        <p><a class="govuk-link govuk-link--no-visited-state" href="funding-rates-app">View funding rates</a></p>
        '
      }
    },
                {
      heading: {
        text: "Unemployed offer"
      },
      summary: {
        text: "Available for new starts and continuing learners"
      },
      content: {
        html:
        '<p> <strong>Course Validity:</strong> </p>
        <p> <strong> From:</strong> 01 September 2015 <strong>to</strong> 31 August 2021</p>
        <p><strong>Last date for new start:</strong> 31 July 2017</p>
        <p><a class="govuk-link govuk-link--no-visited-state" href="funding-rates-app">View funding rates</a></p>
        '
      }
    }
  ]
}) }}

