

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-!-font-size-27">16-19 EFA</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Last date for start</th>
      <th scope="col" class="govuk-table__header">Start date</th>
      <th scope="col" class="govuk-table__header">End date</th>
      <th scope="col" class="govuk-table__header">Updated on</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">31 August 2019</td>
      <td class="govuk-table__cell">1 September 2010</td>
      <td class="govuk-table__cell">31 August 2020</td>
      <td class="govuk-table__cell">30 October 2018</td>
    </tr>
    
  </tbody>
</table>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-!-font-size-27">Adult skills</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Last date for start</th>
      <th scope="col" class="govuk-table__header">Start date</th>
      <th scope="col" class="govuk-table__header">End date</th>
      <th scope="col" class="govuk-table__header">Updated on</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">31 August 2019</td>
      <td class="govuk-table__cell">1 September 2010</td>
      <td class="govuk-table__cell">31 August 2020</td>
      <td class="govuk-table__cell">10 April 2019</td>
    </tr>
    
  </tbody>
</table>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Category</th>
      <th scope="col" class="govuk-table__header">Effective from</th>
      <th scope="col" class="govuk-table__header">Effective to</th>
      <th scope="col" class="govuk-table__header">Programme weighting</th>
      <th scope="col" class="govuk-table__header">Values desc</th>
      <th scope="col" class="govuk-table__header">Maximum value</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Adult Learner Responsive</td>
      <td class="govuk-table__cell">31 July 2013</td>
      <td class="govuk-table__cell">31 July 2013</td>
      <td class="govuk-table__cell">A</td>
      <td class="govuk-table__cell">Weighted</td>
      <td class="govuk-table__cell">291</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Adult Learner Responsive</td>
      <td class="govuk-table__cell">31 July 2013</td>
      <td class="govuk-table__cell">31 July 2013</td>
      <td class="govuk-table__cell">A</td>
      <td class="govuk-table__cell">Unweighted</td>
      <td class="govuk-table__cell">291</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Employer Responsive (Other)</td>
      <td class="govuk-table__cell">31 July 2013</td>
      <td class="govuk-table__cell">31 July 2013</td>
      <td class="govuk-table__cell">A</td>
      <td class="govuk-table__cell">Weighted</td>
      <td class="govuk-table__cell">724</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Employer Responsive (Other)</td>
      <td class="govuk-table__cell">31 July 2013</td>
      <td class="govuk-table__cell">31 July 2013</td>
      <td class="govuk-table__cell">A</td>
      <td class="govuk-table__cell">Unweighted</td>
      <td class="govuk-table__cell">724</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Matrix</td>
      <td class="govuk-table__cell">1 August 2013</td>
      <td class="govuk-table__cell">1 August 2013</td>
      <td class="govuk-table__cell">A</td>
      <td class="govuk-table__cell">Weighted</td>
      <td class="govuk-table__cell">724</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Matrix</td>
      <td class="govuk-table__cell">1 August 2013</td>
      <td class="govuk-table__cell">1 August 2013</td>
      <td class="govuk-table__cell">A</td>
      <td class="govuk-table__cell">Unweighted</td>
      <td class="govuk-table__cell">724</td>
    </tr>
    
  </tbody>
</table>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-!-font-size-27">Other</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Last date for start</th>
      <th scope="col" class="govuk-table__header">Start date</th>
      <th scope="col" class="govuk-table__header">End date</th>
      <th scope="col" class="govuk-table__header">Updated on</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">31 August 2019</td>
      <td class="govuk-table__cell">1 September 2010</td>
      <td class="govuk-table__cell">31 August 2020</td>
      <td class="govuk-table__cell">19 August 2019</td>
    </tr>
    
  </tbody>
</table>

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-!-font-size-27">Apprenticeships</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Last date for start</th>
        <th scope="col" class="govuk-table__header">Start date</th>
        <th scope="col" class="govuk-table__header">End date</th>
        <th scope="col" class="govuk-table__header">Updated on</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">31 August 2019</td>
        <td class="govuk-table__cell">1 September 2010</td>
        <td class="govuk-table__cell">31 August 2020</td>
        <td class="govuk-table__cell">17 August 2019</td>
      </tr>
      
    </tbody>
</table>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Category</th>
      <th scope="col" class="govuk-table__header">Effective from</th>
      <th scope="col" class="govuk-table__header">Effective to</th>
      <th scope="col" class="govuk-table__header">Programme weighting</th>
      <th scope="col" class="govuk-table__header">Values desc</th>
      <th scope="col" class="govuk-table__header">Maximum value</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Apprenticeship (Activity Costs)</td>
      <td class="govuk-table__cell">31 July 2013</td>
      <td class="govuk-table__cell">31 July 2013</td>
      <td class="govuk-table__cell">A</td>
      <td class="govuk-table__cell">Weighted</td>
      <td class="govuk-table__cell">291</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Apprenticeship (Activity Costs)</td>
      <td class="govuk-table__cell">31 July 2013</td>
      <td class="govuk-table__cell">31 July 2013</td>
      <td class="govuk-table__cell">A</td>
      <td class="govuk-table__cell">Unweighted</td>
      <td class="govuk-table__cell">291</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Apprenticeship (Activity Costs)</td>
      <td class="govuk-table__cell">1 August 2013</td>
      <td class="govuk-table__cell">1 August 2020</td>
      <td class="govuk-table__cell">A</td>
      <td class="govuk-table__cell">Weighted</td>
      <td class="govuk-table__cell">724</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Apprenticeship (Activity Costs)</td>
      <td class="govuk-table__cell">1 August 2013</td>
      <td class="govuk-table__cell">1 August 2020</td>
      <td class="govuk-table__cell">A</td>
      <td class="govuk-table__cell">Unweighted</td>
      <td class="govuk-table__cell">724</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Apprenticeships from May 2017</td>
      <td class="govuk-table__cell">1 May 2017</td>
      <td class="govuk-table__cell">31 August 2020</td>
      <td class="govuk-table__cell">A</td>
      <td class="govuk-table__cell">Weighted</td>
      <td class="govuk-table__cell">471</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Apprenticeships from May 2017</td>
      <td class="govuk-table__cell">1 May 2017</td>
      <td class="govuk-table__cell">31 August 2020</td>
      <td class="govuk-table__cell">A</td>
      <td class="govuk-table__cell">Unweighted</td>
      <td class="govuk-table__cell">471</td>
    </tr>
    
  </tbody>
</table>

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-!-font-size-27">Community Learning</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Last date for start</th>
        <th scope="col" class="govuk-table__header">Start date</th>
        <th scope="col" class="govuk-table__header">End date</th>
        <th scope="col" class="govuk-table__header">Updated on</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">31 August 2019</td>
        <td class="govuk-table__cell">1 September 2010</td>
        <td class="govuk-table__cell">31 August 2020</td>
        <td class="govuk-table__cell">19 August 2019</td>
      </tr>
      
    </tbody>
</table>

<table class="govuk-table">
      <caption class="govuk-table__caption govuk-!-font-size-27">EFA Funding condition - Maths qualification validity</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Last date for start</th>
          <th scope="col" class="govuk-table__header">Start date</th>
          <th scope="col" class="govuk-table__header">End date</th>
          <th scope="col" class="govuk-table__header">Updated on</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">31 August 2019</td>
          <td class="govuk-table__cell">1 September 2010</td>
          <td class="govuk-table__cell">31 August 2020</td>
          <td class="govuk-table__cell">19 August 2019</td>
        </tr>
        
      </tbody>
</table>

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-!-font-size-27">European Social Fund</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Last date for start</th>
        <th scope="col" class="govuk-table__header">Start date</th>
        <th scope="col" class="govuk-table__header">End date</th>
        <th scope="col" class="govuk-table__header">Updated on</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">31 August 2019</td>
        <td class="govuk-table__cell">1 August 2015</td>
        <td class="govuk-table__cell">31 August 2020</td>
        <td class="govuk-table__cell">10 April 2019</td>
      </tr>
      
    </tbody>
</table>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Category</th>
      <th scope="col" class="govuk-table__header">Effective from</th>
      <th scope="col" class="govuk-table__header">Effective to</th>
      <th scope="col" class="govuk-table__header">Programme weighting</th>
      <th scope="col" class="govuk-table__header">Values desc</th>
      <th scope="col" class="govuk-table__header">Maximum value</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">European Social Fund</td>
      <td class="govuk-table__cell">1 August 2015</td>
      <td class="govuk-table__cell">31 July 2021</td>
      <td class="govuk-table__cell">A</td>
      <td class="govuk-table__cell">Weighted</td>
      <td class="govuk-table__cell">724</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">European Social Fund</td>
      <td class="govuk-table__cell">1 August 2015</td>
      <td class="govuk-table__cell">31 July 2021</td>
      <td class="govuk-table__cell">A</td>
      <td class="govuk-table__cell">Unweighted</td>
      <td class="govuk-table__cell">724</td>
    </tr>  
  </tbody>
</table>

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-!-font-size-27">OLASS</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Last date for start</th>
        <th scope="col" class="govuk-table__header">Start date</th>
        <th scope="col" class="govuk-table__header">End date</th>
        <th scope="col" class="govuk-table__header">Updated on</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">31 August 2019</td>
        <td class="govuk-table__cell">1 August 2011</td>
        <td class="govuk-table__cell">31 August 2020</td>
        <td class="govuk-table__cell">10 April 2019</td>
      </tr>
    </tbody>
</table>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Category</th>
      <th scope="col" class="govuk-table__header">Effective from</th>
      <th scope="col" class="govuk-table__header">Effective to</th>
      <th scope="col" class="govuk-table__header">Programme weighting</th>
      <th scope="col" class="govuk-table__header">Values desc</th>
      <th scope="col" class="govuk-table__header">Maximum value</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Matrix</td>
      <td class="govuk-table__cell">1 August 2013</td>
      <td class="govuk-table__cell">31 July 2022</td>
      <td class="govuk-table__cell">A</td>
      <td class="govuk-table__cell">Weighted</td>
      <td class="govuk-table__cell">724</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Matrix</td>
      <td class="govuk-table__cell">1 August 2013</td>
      <td class="govuk-table__cell">31 July 2022</td>
      <td class="govuk-table__cell">A</td>
      <td class="govuk-table__cell">Unweighted</td>
      <td class="govuk-table__cell">724</td>
    </tr>  
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Offenders Learning and Skills Service (Adult)</td>
      <td class="govuk-table__cell">31 July 2013</td>
      <td class="govuk-table__cell">31 July 2013</td>
      <td class="govuk-table__cell">A</td>
      <td class="govuk-table__cell">Weighted</td>
      <td class="govuk-table__cell">724</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Offenders Learning and Skills Service (Adult)</td>
      <td class="govuk-table__cell">31 July 2013</td>
      <td class="govuk-table__cell">31 July 2013</td>
      <td class="govuk-table__cell">A</td>
      <td class="govuk-table__cell">Unweighted</td>
      <td class="govuk-table__cell">724</td>
    </tr>  
  </tbody>
</table>
    
<p><a href="https://register.ofqual.gov.uk/Search?Category=Qualifications&query=5010987X">View more information on OFQUAL</a></p>