
{% extends "layout-back.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl">Functional Skills qualification in Mathematics
            <span class="govuk-caption-xl">5010987X</span>
          </h1>
          
          
          <table class="govuk-table">
              <caption class="govuk-table__caption govuk-!-font-size-27">Category</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Reference</th>
                  <th scope="col" class="govuk-table__header">Description</th>
                  <th scope="col" class="govuk-table__header">Parent Reference</th>
                  <th scope="col" class="govuk-table__header">Parent Description</th>
                  <th scope="col" class="govuk-table__header">Effective from</th>
                  <th scope="col" class="govuk-table__header">Effective to</th>
                  
                  
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">39</th>
                  <td class="govuk-table__cell">Legal Entitlement-English and Maths</td>
                  <td class="govuk-table__cell">0</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell">1 August 2016</td>
                  <td class="govuk-table__cell">31 August 2019</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">40</th>
                  <td class="govuk-table__cell">Local Flexibility</td>
                  <td class="govuk-table__cell">0</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell">1 August 2018</td>
                  <td class="govuk-table__cell">1 August 2018</td>
                </tr>
                
                
              </tbody>
            </table>

          
        </div>
  
        <div class="govuk-grid-column-one-third">
  
          
  
        </div>
      </div>
    
{% endblock %}
