<aside class="app-related-items" role="complementary">
    <h2 class="govuk-heading-m" id="subsection-title">
      Tools and support
    </h2>
    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="govuk-list govuk-!-font-size-16">
        <li>
          <a class="govuk-link govuk-link govuk-link--no-visited-state" href="view-downloads">
            View downloads
          </a>
        </li>
        <!-- <li>
          <a class="govuk-link govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/571701/Learning_aim_search_guidance_November_2016_Final.pdf">
            Learning aims search - guidance 
          </a>
        </li>
        <li>
          <a class="govuk-link govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/government/publications/individualised-learner-record-ilr-sources-of-data/learning-aim-known-issues-2017-to-2018-version-1-april-2018">
            Learning aims known issues
          </a>
        </li>
        <li>
          <a class="govuk-link govuk-link govuk-link--no-visited-state" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/785066/Learning_Aims_Reference_Service_Category_Codes_version_4.pdf">
            Learning aims reference service - Categories
          </a>
        </li>
        <li>
          <a class="govuk-link govuk-link govuk-link--no-visited-state" href="table-and-field-definitions">
            Table and field definitions
          </a>
        </li>
        <li>
          <a class="govuk-link govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/government/publications/data-collection-maintenance-schedule-for-2014-to-2015">
              Data collections maintenance schedule 
          </a>
        </li>
        <li>
          <a class="govuk-link govuk-link govuk-link--no-visited-state" href="https://s3.amazonaws.com/esfa2017/ESFA/LEARNING_AIM_REQUEST_FORM_HE_Aims.xls">
            Higher Education Learning Aim Request Form 
          </a>
        </li>
        <li>
          <a class="govuk-link govuk-link govuk-link--no-visited-state" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/741670/Prescribed_Higher_Education_Provision_for_LARS.pdf">
            Prescribed Higher Education LARS Guidance
          </a>
        </li>
        <li>
          <a class="govuk-link govuk-link govuk-link--no-visited-state" href="https://s3.amazonaws.com/esfa2017/ESFA/HEIFES14_LDCS_Codes.xlsx">
            LDCS Codes
          </a>
        </li> -->
        
      </ul>
    </nav>
  </aside>