
{% extends "layout-back.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl">Functional Skills qualification in Mathematics
            <span class="govuk-caption-xl">5010987X</span>
          </h1>
          <div class="flex space-between">
          <p><span><a class="govuk-link govuk-link--no-visited-state" href="related">Related learning aims</a></span> &nbsp; &nbsp; <span><a class="govuk-link govuk-link--no-visited-state" href="category">Category</a></span></p>

          <div class="govuk-form-group">
              <label class="govuk-label" for="sort">
                Teaching year
              </label>
              <select class="govuk-select" id="sort" name="sort">
                <option value="published">Recently published</option>
                <option value="updated" selected>Recently updated</option>
                <option value="views">Most views</option>
                <option value="comments">Most comments</option>
              </select>
            </div>
          </div>

          {% include "./aims-template-v2.html" %}
       
          
        </div>
  
        <div class="govuk-grid-column-one-third">
  
          
  
        </div>
      </div>
    
{% endblock %}
