
{% extends "layout-back.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl">Functional Skills qualification in Mathematics
            <span class="govuk-caption-xl">5010987X</span>
          </h1>
          
          
          <table class="govuk-table">
              <caption class="govuk-table__caption govuk-!-font-size-27">Related learning aims</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Reference</th>
                  <th scope="col" class="govuk-table__header">Title</th>
                  <th scope="col" class="govuk-table__header">Awarding body</th>
                  <th scope="col" class="govuk-table__header">Level</th>
                  <th scope="col" class="govuk-table__header">Effective from</th>
                  <th scope="col" class="govuk-table__header">Effective to</th>
                  <th scope="col" class="govuk-table__header">Component type</th>
                  
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">00300772</th>
                  <td class="govuk-table__cell">HNC in Engineering</td>
                  <td class="govuk-table__cell">UONORTON</td>
                  <td class="govuk-table__cell">4</td>
                  <td class="govuk-table__cell">24 October 2017</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell">2 - Knowledge Element within an Apprenticeship</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">50072833</th>
                  <td class="govuk-table__cell">BTEC Diploma in Mechanical Engineering (QCF)</td>
                  <td class="govuk-table__cell">EDEXCEL</td>
                  <td class="govuk-table__cell">3</td>
                  <td class="govuk-table__cell">9 September 2013</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell">2 - Knowledge Element within an Apprenticeship</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">50072961</th>
                  <td class="govuk-table__cell">BTEC Extended Diploma in Mechanical Engineering (QCF)</td>
                  <td class="govuk-table__cell">EDEXCEL</td>
                  <td class="govuk-table__cell">3</td>
                  <td class="govuk-table__cell">9 September 2013</td>
                  <td class="govuk-table__cell">-</td>
                  <td class="govuk-table__cell">2 - Knowledge Element within an Apprenticeship</td>
                </tr>
                
              </tbody>
            </table>

          
        </div>
  
        <div class="govuk-grid-column-one-third">
  
          
  
        </div>
      </div>
    
{% endblock %}
