<span class="govuk-heading-s govuk-!-margin-bottom-0">Filter results</span>
<div id="allFilters-2">
    <section id="awardingBody" class="filter-section">
        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 filter-box-button">
          Awarding body
        </a>
        <span class="selected-text govuk-body govuk-!-font-size-16"> <span class="counter">1</span> selected</span>
        <div id="ab-list" class="filter-box hidden">
            <div class="input-container">
              <span class="search-icon"><svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="50px" height="50px"><path d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z"></path></svg></span>
              <input type="text" class="govuk-input custom-input" id="awarding-body-input" name="awarding-body-input" aria-label="search awarding body">
            </div>
            
            <!-- <div class="filter-box hidden">
                <div class="govuk-checkboxes govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Entry-level" name="level" type="checkbox" value="Entry-level">
                      <label class="govuk-label govuk-checkboxes__label" for="Entry-level">
                          Entry-level
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Level-1" name="level" type="checkbox" value="Level-1">
                      <label class="govuk-label govuk-checkboxes__label" for="Level-1">
                        Level-1
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Level-2" name="level" type="checkbox" value="Level-2">
                      <label class="govuk-label govuk-checkboxes__label" for="Level-2">
                        Level-2
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Level-3" name="level" type="checkbox" value="Level-3">
                      <label class="govuk-label govuk-checkboxes__label" for="Level-3">
                        Level-3
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Level-4" name="level" type="checkbox" value="Level-4">
                      <label class="govuk-label govuk-checkboxes__label" for="Level-4">
                        Level-4
                      </label>
                    </div>
                  </div>
            </div> -->
            
  
  
  
  
  
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  <div class="govuk-form-group">
  
    <div class="govuk-checkboxes govuk-checkboxes--small">
      
        
            
          
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="awarding body" name="awarding body" type="checkbox" value="IEB">
            <label class="govuk-label govuk-checkboxes__label" for="awarding body">
          IEB
        </label>
            
          </div>
          
        
      
        
          
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="awarding body-2" name="awarding body" type="checkbox" value="OCR">
            <label class="govuk-label govuk-checkboxes__label" for="awarding body-2">
          OCR
        </label>
            
          </div>
          
        
      
        
          
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="awarding body-3" name="awarding body" type="checkbox" value="Learn-Direct">
            <label class="govuk-label govuk-checkboxes__label" for="awarding body-3">
          Learn-Direct
        </label>
            
          </div>
          
        
      
        
          
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="awarding body-4" name="awarding body" type="checkbox" value="AQA">
            <label class="govuk-label govuk-checkboxes__label" for="awarding body-4">
          AQA
        </label>
            
          </div>
          
        
      
        
          
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="awarding body-5" name="awarding body" type="checkbox" value="City-Guilds">
            <label class="govuk-label govuk-checkboxes__label" for="awarding body-5">
          City-Guilds
        </label>
            
          </div>
          
        
      
        
          
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="awarding body-6" name="awarding body" type="checkbox" value="EDEXCEL">
            <label class="govuk-label govuk-checkboxes__label" for="awarding body-6">
          EDEXCEL
        </label>
            
          </div>
          
        
      
        
          
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="awarding body-7" name="awarding body" type="checkbox" value="UWLQ">
            <label class="govuk-label govuk-checkboxes__label" for="awarding body-7">
          UWLQ
        </label>
            
          </div>
          
        
      
        
          
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="awarding body-8" name="awarding body" type="checkbox" value="UAL">
            <label class="govuk-label govuk-checkboxes__label" for="awarding body-8">
          UAL
        </label>
            
          </div>
          
        
      
        
          
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="awarding body-9" name="awarding body" type="checkbox" value="NCC-Education">
            <label class="govuk-label govuk-checkboxes__label" for="awarding body-9">
          NCC-Education
        </label>
            
          </div>
          
        
      
    </div>
  
  </div>
  
        </div>
    </section>
  
    <section id="level" class="filter-section">
        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 filter-box-button">
        Level
        </a>
        <span class="selected-text govuk-body govuk-!-font-size-16"> <span class="counter">1</span> selected</span>
        <div class="filter-box hidden">
            
  
            
  
  
  
  
  
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  <div class="govuk-form-group">
  
    <div class="govuk-checkboxes govuk-checkboxes--small">
      
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="Level-1" name="level" type="checkbox" value="Level-1">
            <label class="govuk-label govuk-checkboxes__label" for="Level-1">
              Level-1
            </label>
          </div>
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="level-2" name="level" type="checkbox" value="Level-2">
            <label class="govuk-label govuk-checkboxes__label" for="level-2">
              Level-2
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="level-3" name="level" type="checkbox" value="Level-3">
            <label class="govuk-label govuk-checkboxes__label" for="level-3">
              Level-3
            </label> 
          </div>
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="level-4" name="level" type="checkbox" value="Level-4">
            <label class="govuk-label govuk-checkboxes__label" for="level-4">
          Level-4
        </label>
            
          </div>
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="level-5" name="level" type="checkbox" value="Level-5">
            <label class="govuk-label govuk-checkboxes__label" for="level-5">
          Level-5
        </label>
            
          </div>
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="level-6" name="level" type="checkbox" value="Level-6">
            <label class="govuk-label govuk-checkboxes__label" for="level-6">
          Level-6
        </label>
            
          </div>
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="level-7" name="level" type="checkbox" value="Level-7">
            <label class="govuk-label govuk-checkboxes__label" for="level-7">
          Level-7
        </label>
            
          </div>
         
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="level-8" name="level" type="checkbox" value="Level-8">
            <label class="govuk-label govuk-checkboxes__label" for="level-8">
          Level-8
        </label>
            
          </div>
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="level-9" name="level" type="checkbox" value="Entry-level">
            <label class="govuk-label govuk-checkboxes__label" for="level-9">
          Entry-level
        </label>
            
          </div>
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="level-10" name="level" type="checkbox" value="Higher-level">
            <label class="govuk-label govuk-checkboxes__label" for="level-10">
          Higher-level
        </label>
            
          </div>
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="level-11" name="level" type="checkbox" value="Mixed-level">
            <label class="govuk-label govuk-checkboxes__label" for="level-11">
          Mixed-level
        </label>
            
          </div>
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="level-12" name="level" type="checkbox" value="Not-known">
            <label class="govuk-label govuk-checkboxes__label" for="level-12">
          Not-known
        </label>
            
          </div>
          
    </div>
  
  </div>
  
        </div>
    </section>
  
  
    <section id="fundingStream" class="filter-section">
      <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 filter-box-button">
        Funding stream
      </a>
      <span class="selected-text govuk-body govuk-!-font-size-16"> <span class="counter">1</span> selected</span>
      <div class="filter-box hidden">
    
  <div class="govuk-form-group">
  
    <div class="govuk-checkboxes govuk-checkboxes--small">
      
        
            
          
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="funding stream" name="funding stream" type="checkbox" value="16-19" {{ checked("fs", "16-19") }}>
            <label class="govuk-label govuk-checkboxes__label" for="funding stream">
          16-19
        </label>
            
          </div>
          
        
      
        
          
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="funding stream-2" name="funding stream" type="checkbox" value="Adult-skills">
            <label class="govuk-label govuk-checkboxes__label" for="funding stream-2">
          Adult-skills
        </label>
            
          </div>
          
        
      
        
          
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="funding stream-3" name="funding stream" type="checkbox" value="Advanced-learner-loans">
            <label class="govuk-label govuk-checkboxes__label" for="funding stream-3">
          Advanced-learner-loans
        </label>
            
          </div>
          
        
      
        
          
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="funding stream-4" name="funding stream" type="checkbox" value="Other">
            <label class="govuk-label govuk-checkboxes__label" for="funding stream-4">
          Other
        </label>
            
          </div>
          
        
      
        
          
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="funding stream-5" name="funding stream" type="checkbox" value="Apprenticeships">
            <label class="govuk-label govuk-checkboxes__label" for="funding stream-5">
          Apprenticeships
        </label>
            
          </div>
          
        
      
        
          
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="funding stream-6" name="funding stream" type="checkbox" value="Community-learning">
            <label class="govuk-label govuk-checkboxes__label" for="funding stream-6">
          Community learning
        </label>
            
          </div>
          
        
      
        
          
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="funding stream-7" name="funding stream" type="checkbox" value="EFA-Funding-condition-english">
            <label class="govuk-label govuk-checkboxes__label" for="funding stream-7">
          EFA-Funding-condition-english
        </label>
            
          </div>
          
        
      
        
          
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="funding stream-8" name="funding stream" type="checkbox" value="EFA-Funding-condition-maths">
            <label class="govuk-label govuk-checkboxes__label" for="funding stream-8">
          EFA-Funding-condition-maths
        </label>
            
          </div>
          
        
      
        
          
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="funding stream-9" name="funding stream" type="checkbox" value="European-social-fund">
            <label class="govuk-label govuk-checkboxes__label" for="funding stream-9">
          European-social-fund
        </label>
            
          </div>
          
        
      
        
          
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="funding stream-10" name="funding stream" type="checkbox" value="OLASS">
            <label class="govuk-label govuk-checkboxes__label" for="funding stream-10">
          OLASS
        </label>
            
          </div>
          
        
      
        
          
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="funding stream-11" name="funding stream" type="checkbox" value="Unemployed-offer">
            <label class="govuk-label govuk-checkboxes__label" for="funding stream-11">
          Unemployed-offer
        </label>
            
          </div>
          
        
      
    </div>
  
  </div>
  
      </div>
  </section>
  
  
    <section id="teachingYear" class="filter-section">
        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 filter-box-button">
          Teaching year
        </a>
        <span class="selected-text govuk-body govuk-!-font-size-16"> <span class="counter">1</span> selected</span>
        <div class="filter-box hidden">
            
  
            
  
  
  
  
  
  
    
  
    
  
    
  
    
  <div class="govuk-form-group">
  
    <div class="govuk-checkboxes govuk-checkboxes--small">
      
        
            
          
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="teaching year" name="teaching year" type="checkbox" value="2019-2020">
            <label class="govuk-label govuk-checkboxes__label" for="teaching year">
          2019 to 2020
        </label>
            
          </div>
          
        
      
        
          
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="teaching year-2" name="teaching year" type="checkbox" value="2018-2019">
            <label class="govuk-label govuk-checkboxes__label" for="teaching year-2">
          2018 to 2019
        </label>
            
          </div>
          
        
      
        
          
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="teaching year-3" name="teaching year" type="checkbox" value="2017-2018">
            <label class="govuk-label govuk-checkboxes__label" for="teaching year-3">
          2017 to 2018
        </label>
            
          </div>
          
        
      
        
          
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="teaching year-4" name="teaching year" type="checkbox" value="2016-2017">
            <label class="govuk-label govuk-checkboxes__label" for="teaching year-4">
          2016 to 2017
        </label>
            
          </div>
          
        
      
    </div>
  
  </div>
  
        </div>
    </section>
  
    
  
    <section id="newStarters" class="filter-section">
        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 filter-box-button">
          Last date for new starters
        </a>
        <span class="selected-text govuk-body govuk-!-font-size-16"> <span class="counter">1</span> selected</span>
        <div class="filter-box hidden">
            <div class="govuk-date-input govuk-!-margin-top-3 govuk-!-margin-left-3">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
        </div>
    </section>
  </div>
<a href="#" id="updateResults" class="govuk-!-margin-top-4 govuk-button govuk-button--secondary">Update results</a>
<p><a href="#" id="clearFilters" class="govuk-!-margin-top-4 govuk-link govuk-link--no-visited-state">Clear filters</a></p>


<!-- {{ checked("vehicle-features", "GPS") }} -->