
{% extends "layout-back.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl">Certificate in Engineering
            <span class="govuk-caption-xl">60008805</span>
          </h1>
          
          <ul class="govuk-list">
              <li>
                <strong>  Category:</strong> Apprenticeship (Activity Costs)
              </li>
              <li>
                <strong>Effective from:</strong> 01 August 2013 
              </li>
              <li>
                <strong>Effective to:</strong> 31 December 2021
              </li>
              <li>
                 <strong> Programme weighting:</strong> C
              </li>
              <li>
                <strong>Weighted rate:</strong> £2267
              </li>
              <li>
                <strong>Unweighted rate:</strong> £1744
              </li>
            </ul>
          

            <!-- <ul class="govuk-list">
                <li>
                  <strong>  Category:</strong> Apprenticeship (Activity Costs)
                </li>
                <li>
                  <strong>Effective from:</strong> 31 September 2013 
                </li>
                <li>
                  <strong>Effective to:</strong> 31 September 2013
                </li>
                <li>
                   <strong> Programme weighting:</strong> C
                </li>
                <li>
                  <strong>Weighted rate:</strong> £2267
                </li>
                <li>
                  <strong>Unweighted rate:</strong> £1744
                </li>
              </ul> -->
          
        </div>
  
        <div class="govuk-grid-column-one-third">
  
          
  
        </div>
      </div>
    
{% endblock %}
