
{% extends "layout-back.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          
          <h1 class="govuk-heading-xl">Downloads</h1>

          <table class="govuk-table">
              <caption class="govuk-table__caption">Version 7</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Type</th>
                  <th class="govuk-table__header" scope="col">Applicable from</th>
                  <th class="govuk-table__header" scope="col">Link</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">MDB</td>
                  <td class="govuk-table__cell">1 August 2019</td>
                  <td class="govuk-table__cell"><a href="#">Download</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">LARS CSV</td>
                  <td class="govuk-table__cell">1 August 2019</td>
                  <td class="govuk-table__cell"><a href="#">Download</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">LARS PSV</td>
                  <td class="govuk-table__cell">1 August 2019</td>
                  <td class="govuk-table__cell"><a href="#">Download</a></td>
                </tr>
                
              </tbody>
            </table>
          <table class="govuk-table">
              <caption class="govuk-table__caption">Version 6</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Type</th>
                  <th class="govuk-table__header" scope="col">Applicable from</th>
                  <th class="govuk-table__header" scope="col">Link</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">MDB</td>
                  <td class="govuk-table__cell">1 August 2018</td>
                  <td class="govuk-table__cell"><a href="#">Download</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">LARS CSV</td>
                  <td class="govuk-table__cell">1 August 2018</td>
                  <td class="govuk-table__cell"><a href="#">Download</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">LARS PSV</td>
                  <td class="govuk-table__cell">1 August 2018</td>
                  <td class="govuk-table__cell"><a href="#">Download</a></td>
                </tr>
              </tbody>
            </table>
         
        </div>
  
        <div class="govuk-grid-column-one-third">
  
       
  
        </div>
      </div>
    
      {% include "./auto-js.html" %}


{% endblock %}
