<aside class="app-related-items" role="complementary">
    <h2 class="govuk-heading-s" id="subsection-title">
      Tools and support
    </h2>
    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="govuk-list govuk-!-font-size-16">
        <li>
          <a class="govuk-link govuk-link govuk-link--no-visited-state" href="view-downloads">
            View downloads
          </a>
        </li>
           
      </ul>
    </nav>

    <h2 class="govuk-heading-s" id="subsection-title">
        Funding conditions
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          
          <li>
            <a class="govuk-link govuk-link govuk-link--no-visited-state" href="efa-funding-condition-english.html">
              EFA funding condition - English 
            </a>
          </li>
          <li>
            <a class="govuk-link govuk-link govuk-link--no-visited-state" href="efa-funding-condition-maths.html">
              EFA funding condition - Maths
            </a>
          </li>
 
        </ul>
      </nav>
  </aside>