
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="all-results">Search results</a>
          </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="qualification-app">Certificate in Engineering</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="frameworks">Frameworks</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Pathways
      </li>
    </ol>
  </div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl">Certificate in Engineering
                <span class="govuk-caption-xl">60008805</span>
              </h1>

              <ul class="govuk-list">
                  <li>
                    <strong> Framework:</strong> 504 - Improving Operational Performance
                  </li>
                  <li>
                    <strong>Issued title:</strong> Improving Operational Performance
                  </li>
                  <li>
                    <strong>Pathway:</strong> 0 -
                  </li>
                  <li>
                    <strong>Issuing authority:</strong> 126 - Semta
                  </li>
                  <li>
                    <strong>Effective from:</strong> 23 June 2011 to: 06 March 2013
                  </li>
              </ul>
          
              <h2 class="govuk-heading-m ">Sector subject area</h2>
              <p>04 - Engineering and Manufacturing Technologies​</p>


              <h2 class="govuk-heading-m">Related learning aims</h2>
              <ul class="govuk-list">
                  <li>
                    <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state" href="#">Award in Industrial Environment Awareness</a>
                  </li>
                  <li>
                    <strong>Reference:</strong> 50061471  
                    </li>
                  <li>
                    <strong>Awarding body:</strong> EAL  
                    </li>
                  <li>
                    <strong>Level:</strong> 2
                  </li>
                  <li>
                    <strong>Effective from:</strong> 23 June 2011 to: 06 March 2013
                  </li>
                  <li>
                    <strong>Component type:</strong> 2 - Knowledge Element within an Apprenticeship
                  </li>
                </ul>
      
                <hr>
              
                <ul class="govuk-list">
                  <li>
                    <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state" href="#">Certificate in Fabrication and Welding Practice (QCF)</a>
                  </li>
                  <li>
                    <strong>Reference:</strong> 50062141 
                    </li>
                  <li>
                    <strong>Awarding body: ABC 
                    </li>
                  <li>
                    <strong>Level:</strong> 2
                  </li>
                  <li>
                    <strong>Effective from:</strong> 01 August 2011 to: 06 March 2013
                  </li>
                  <li>
                    <strong>Component type:</strong> 2 - Knowledge Element within an Apprenticeship
                  </li>
                </ul>
      
                <hr>
               
                <ul class="govuk-list">
                  <li>
                    <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state" href="#">NVQ Diploma in Business Improvement Techniques	</a>
                  </li>
                  <li>
                    <strong>Reference:</strong> 50065907
                    </li>
                  <li>
                    <strong>Awarding body:</strong> EAL 
                    </li>
                  <li>
                    <strong>Level:</strong> 2
                  </li>
                  <li>
                    <strong>Effective from:</strong> 23 June 2011 to: 06 March 2013
                  </li>
                  <li>
                    <strong>Component type:</strong> 1 - Competency Element within an Apprenticeship
                  </li>
                </ul>
      
                <hr>

          
        </div>
  
        <div class="govuk-grid-column-one-third">
  
          
  
        </div>
      </div>
    
{% endblock %}
