
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
            
              {% if serviceName %} {{ serviceName }} {% endif %}
              
            </h1>
            
            <p class="govuk-body-l">This service is for users that need up to date information to help them assist with their day to day jobs.</p>
    
            <p class="govuk-body">Use this service to:</p>
    
            <ul class="govuk-list govuk-list--bullet">
              <li>search for a learning aim</li>
              <li>check funding rates</li>
              <li>search for qualifications</li>
              <li>search for apprenticeships</li>
              <li>download descriptions</li>
              <li>download datasets</li>
            </ul>
    
      
      

            <div class="app-masthead">
              <span class="govuk-heading-l white-text">Search for a qualification</span>
              <p class="govuk-body white-text">Search by <strong>name, reference number</strong> or <strong>awarding body</strong></p>
              <form id="changeUrl" class="govuk-form-group" action="all-results-func">
                <div id="tt-overlay" class="autocomplete-wrapper"></div>
                
              
              
              <div class="flex space-between">
                <div class="govuk-form-group govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                  
                  <label class="govuk-label white-text" for="awarding-body-input">
                    Awarding body
                  </label>
                  <select name="awarding-body-input" class="govuk-select custom-width-280" id="awarding-body-input">
                    <option selected> </option>
                    <option value="IEB" >IEB</option>
                    <option value="OCR">OCR</option>
                    <option value="Learn-Direct">Learn-Direct</option>
                    <option value="AQA">AQA</option>
                    <option value="ANM">ANM</option>
                    <option value="NCFE">NCFE</option>
                    <option value="ASDAN">ASDAN</option>
                    <option value="UOT">UOT</option>
                    <option value="FAQ">FAQ</option>
                    <option value="ONEAWARDS">ONEAWARDS</option>
                    <option value="EAL">EAL</option>
                    <option value="IB">IB</option>
                    <option value="OPENAWARD">OPENAWARD</option>
                    <option value="AIMAWARD">AIMAWARD</option>
                    <option value="UW">UW</option>
                    <option value="GATEWAY">GATEWAY</option>
                    <option value="CAIE">CAIE</option>
                    <option value="UOWAR">UOWAR</option>
                    <option value="NTU">NTU</option>
                    <option value="EDI">EDI</option>
                    <option value="KPA">KPA</option>
                    <option value="SKILLSFR">SKILLSFR</option>
                    <option value="ITEC">ITEC</option>
                    <option value="ABC">ABC</option>
                    <option value="BHTB">BHTB</option>
                    <option value="Ascentis">Ascentis</option>
                    <option value="UCLAN">UCLAN</option>
                    <option value="UOPLY">UOPLY</option>
                    <option value="LASER">LASER</option>
                    <option value="FIRST">FIRST</option>
                    <option value="CIBTAC">CIBTAC</option>
                    <option value="VTCT">VTCT</option>
                    <option value="IMIAL">IMIAL</option>
                    <option value="HABC">HABC</option>
                    <option value="SQA">SQA</option>
                    <option value="WJEC">WJEC</option>
                    <option value="BOLTONIN">BOLTONIN</option>
                    <option value="IFPA">IFPA</option>
                    <option value="NCG">NCG</option>
                    <option value="UOSX">UOSX</option>
                    <option value="NOCN">NOCN</option>
                    <option value="IQ">IQ</option>
                    <option value="OCNCREDI">OCNCREDI</option>
                    <option value="OCNLR">OCNLR</option>
                    <option value="City-Guilds">City-Guilds</option>
                    <option value="EDEXCEL">EDEXCEL</option>
                    <option value="CCEA">CCEA</option>
                    <option value="UWLQ">UWLQ</option>
                    <option value="UAL">UAL</option>
                    <option value="NCC-Education">NCC-Education</option>
                  </select>
                </div>
                
                <div class="govuk-form-group govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                  <label class="govuk-label white-text" for="level-input">
                    Level
                  </label>
                  <select class="govuk-select" id="level-input" name="level-input">
                    
                    <option selected> </option>
                    <option value="Level-1">Level 1</option>
                    <option value="Level-2">Level 2</option>
                    <option value="Level-3">Level 3</option>
                    <option value="Level-4">Level 4</option>
                    <option value="Level-5">Level 5</option>
                    <option value="Level-6">Level 6</option>
                    <option value="Level-7">Level 7</option>
                    <option value="Level-8">Level 8</option>
                    <option value="Entry-Level">Entry level</option>
                    <option value="Higher-Level">Higher level</option>
                    <option value="Mixed-Level">Mixed level</option>
                    <option value="Not-Known">Not known</option>
                    
                    
                  </select>
                </div>
                
                <div class="govuk-form-group govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                  <label class="govuk-label white-text" for="sort">
                    Teaching year
                  </label>
                  <select class="govuk-select" id="sort" name="sort">
                    
                    <option value="updated" selected>View all</option>
                    <option value="updated">2019 to 2020</option>
                    <option value="updated">2018 to 2019</option>
                    <option value="updated">2017 to 2018</option>
                    <option value="updated">2016 to 2017</option>
                    
                    
                    
                  </select>
                </div>
              </div>
              <br>
              <button id="searchProviders" type="search" class="govuk-button govuk-button--start govuk-!-margin-bottom-0">Search <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
              </svg></button>

            </form>

            </div>
          </div>
              
              <!-- <div class="app-masthead">
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                      <span class="govuk-heading-s govuk-!-font-size-27 white-text">Search for a qualification</span>
                      <form class="govuk-form-group" action="provider-record">
                        <input class="govuk-input" id="name" name="name" type="text" placeholder="e.g. Manchester or 123456">
                        <div id="tt-overlay" class="autocomplete-wrapper"></div>
                        <button id="searchProviders" type="search" class="govuk-button" ><img src="https://assets.publishing.service.gov.uk/frontend/govuk_publishing_components/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png"></img></button>
                      </form>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <a href="advanced-search-v2">Advanced search</a>
                        <a href="add-new-provider">Add a new provider</a>
                    </div>
                  </div>
                </div> -->

                <div class="govuk-grid-column-one-third">
  
         
                    {% include "./help-links.html" %}
            
                  </div>
        
      </div>

      {% include "./auto-js.html" %}
    
{% endblock %}
