
{% extends "layout.html" %}

{% block pageTitle %}
Learner aims reference service
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <br>
    <br>
    <h1 class="govuk-heading-xl">
      {% if serviceName %} {{ serviceName }} {% endif %}
    </h1>

    <table class="govuk-table">
 <caption class="govuk-table__caption visually-hidden">List of versions</caption>
 <thead class="govuk-table__head">
   <tr class="govuk-table__row">
     <th class="govuk-table__header" scope="col">Version</th>
   <th class="govuk-table__header" scope="col">Updates</th>
     <th class="govuk-table__header" scope="col" colspan="2">Contents</th>
   </tr>
 </thead>
 <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Tomato 1.0.2<p>03/12/2019</p></th>
        <td class="govuk-table__cell ">
          <p>Alpha - in progress 03/12/2019</p>
          <ul class="govuk-list govuk-list--bullet">
            <li> <a href="1-0-2/start-search"> Start page</a> with search added (default)</li>
            <li> <a href="1-0-2/start"> Start page</a> on its own</li>
            <li> Filters updated on <a href="1-0-2/all-results-engineering">results page</a>  with a update results button </li>
            <li> Added guided learning hours on <a href="1-0-2/all-results-engineering">results pages</a> </li>
          </ul>
        </td>
        <!-- <td class="govuk-table__cell "><a href="#">Contents</a></td> -->
        <td class="govuk-table__cell "><a href="1-0-2/start-search.html">Start now</a></td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Lettuce 1.0.1<p>26/11/2019</p></th>
        <td class="govuk-table__cell ">
          <p>Alpha - in progress 26/11/2019</p>
          <ul class="govuk-list govuk-list--bullet">
            <li> <a href="1-0-1/start"> Start page</a> content updated </li>
            <li> Filters added on <a href="1-0-1/search">search</a> and <a href="1-0-1/all-results-func">results</a> pages </li>
            <li> Restructured information on <a href="1-0-1/qualification-func">qualification pages</a> </li>
          </ul>
        </td>
        <!-- <td class="govuk-table__cell "><a href="#">Contents</a></td> -->
        <td class="govuk-table__cell "><a href="1-0-1/start.html">Start now</a></td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Lettuce 1.0.0<p>06/11/2019</p></th>
        <td class="govuk-table__cell ">
          <p>Alpha - in progress 06/11/2019</p>
          <ul class="govuk-list govuk-list--bullet">
            <li> First version of LARS </li>
          </ul>
        </td>
        <!-- <td class="govuk-table__cell "><a href="#">Contents</a></td> -->
        <td class="govuk-table__cell "><a href="1-0-0/start.html">Start now</a></td>
      </tr>

 </tbody>
</table>
  </div>
</div>

{% endblock %}
